@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  font-style: normal;

  transition: all 0.3s;
}

html {
  min-height: 100% !important;
}

body {
  background-image: linear-gradient(#ffbe98, #ff98f8);
  background-repeat: no-repeat;
  min-height: 100% !important;
  height: 100%;
}
